---
title: About
---
<div class="container top">

{{#markdown}}

# About this project

During our PhD thesis, we have found that there is a lack of Java libraries
that implement search algorithms with an extensible, flexible and simple to use model.
Moreover, most of the libraries rely on graph structures or recursive implementations
which do not offer fine-grained control over the
algorithm. This is why we decided to make our little contribution in this field.
Although Hipster is far from being perfect, we hope you find it useful.

Hipster was originally created and is currently maintained by:

-   **Pablo Rodriguez-Mier** - Computer Science PhD student at CITIUS.
-   **Adrian Gonzalez-Sieira** - Computer Science PhD student at CITIUS.

The scientific supervisors of this project are listed below:

-   **Dr. Manuel Mucientes**
-   **Dr. Manuel Lama**
-   **Dr. Alberto Bugarín**

### Citation

The project was also accepted in the 9th Iberian Conference on Information Systems and Technologies (CISTI), 2014.
If you use this library in your research projects, we encourage you to please cite our work.

> Rodriguez-Mier, P., Gonzalez-Sieira, A., Mucientes, M., Lama, M. & Bugarin, A. (2014).
[Hipster: An Open Source Java Library for Heuristic Search](#).
*9th Iberian Conference on Information Systems and Technologies (CISTI)*.

{{/markdown}}
    <script src="https://gist.github.com/pablormier/945a3c2a80da630f44b8.js"></script>
{{#markdown}}

### Related projects

Here you have a list of similar or complementary open source projects for Java which
you might find useful:

-   [**AIMA-JAVA**](https://code.google.com/p/aima-java/) - A comprehensive collection of different algorithms from the book _"Artificial Intelligence, A Modern Approach"_.
-   [**JUNG**](http://jung.sourceforge.net/) - A Java library for graph processing. It also includes shortest path algorithms such as Dijkstra or A\*.
{{/markdown}}

  <p>This software is tested and profiled using JProfiler</p>
  <a href="http://www.ej-technologies.com/products/jprofiler/overview.html"><img src = "http://static-aws.ej-technologies.com/fSPWWYHqc7hE2dXygJb0KGSIf3TPEGUnaU62MxxGsIv.png"></img></a>
</div>
