<footer class="footer">
    <div class="container">
        <a class="footer-brand" href="http://citius.usc.es" title="CiTIUS">
            <img src="{{assets}}/css/img/citius-logo.png">
        </a>
        <p class="footer-text">&copy; 2014 Hipster - Centro de Investigación en Tecnoloxías da Información (CiTIUS)</p>
    </div>
</footer>
