<footer class="footer">
    <div class="container">
        <a class="footer-brand" href="http://citius.usc.es" title="CiTIUS">
            <img class="citius-logo" src="{{assets}}/css/img/citius-logo.png"/>
        </a>
        <p class="footer-text">&copy; 2014 Hipster - Centro de Investigación en Tecnoloxías da Información (CiTIUS)</p>
        <a class="footer-brand right jprofiler-logo" href="http://www.ej-technologies.com/products/jprofiler/overview.html" title="Java Profiler" alt="This software is optimized thanks to JProfiler"></a>
    </div>
</footer>
